<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="container text-center">
					<img src="" style="height: 300px; width: 300px;" class="my_profile_picture" th:src="@{'/img/contact.png'}" alt="profile photo" />
				</div>
				<h1 class="text-center mt-3 text-secondary font-weight-light">
					<i>Start Adding Your Contacts in Smart Contact Manager</i>
				</h1>
				<a th:href="@{/user/add-contact}" class="btn btn-primary mt-4 w-100 text-uppercase">Add New Contact</a>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#home-link").addClass("active");
			});
		</script>
	</section>
</body>
</html>