<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<h4>Start collecting your contacts in very smarter way. We provide very efficient and smarter
			 way of handling contacts.</h4><br>
			 <a href="/signin/" class="btn bg-primary btn-lg text-white">Get Start</a>
		</div>
	</section>
</body>
</html>