<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password</title>
</head>
<body>
	<section class="banner justify-content-center align-items-center">
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 210px;" class="col-md-12">
							<form id="login-form" class="form" th:action=@{/change-password}
								action="#" method="post">
								<h3 class="text-info text-center">Enter New Password</h3>
								<div class="mb-3 mt-4">
									<input name="newpassword" required="required" type="password" placeholder="Enter new password here"
										class="form-control">
								</div>
								<div class="container text-center mt-4">
										<button class="btn btn-outline-primary">Change Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>